{{ define "main" }}

<article>

{{ if .Title }} {{ partial "title" . }} {{ end }}

<!-- $Content -->
<section>
{{ .Content }}
</section>

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} 
{{ range $index, $page := $paginator.Pages}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ end }}

{{- if .Resources.GetMatch "*.jpg" -}}
{{$poster := .Resources.GetMatch "*.jpg"}}
<a class="list-image" href="{{ .RelPermalink }}">
  <img href="{{ .RelPermalink }}" src="{{$poster.RelPermalink}}"/>
</a>
{{- else -}}
<section 
class="list-section relative my-10 first-of-type:mt-0 last-of-type:mb-0"
>
  <h2 class="!my-0 pb-1 font-bold !leading-none">{{ .Title }}</h2>
  <p>{{ .Summary }}</p>
  <time class="text-sm antialiased opacity-60"
    >{{ .Date | time.Format "2006-01-02" }}</time
  >
  <a class="absolute inset-0 text-[0]" href="{{ .RelPermalink }}">{{ .Title }}</a>
</section>
{{ end }}
{{ end }}
</div>

</article>

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-16 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
