<nav class="links mx-auto flex h-3 max-w-3xl px-8 lg:items-center lg:space-x-6">
{{ $currentPage := . }}
{{ with site.Menus.main }}
    {{ range . }}
    <div class="marker lg:items-center flex {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} current-menu-item{{end}}">
    <a
    class="block text-center text-2xl leading-[5rem] lg:text-base lg:font-normal "
    href="{{ .URL }}"
    >{{ .Name }}</a>
    </div>
    {{ end }}
{{ end }}<!---->
</nav>
<nav class="lg:ml-12 lg:flex lg:flex-row lg:items-center lg:space-x-6">
</nav>